.right_inner_addon {
    position: relative
}

.right_inner_addon input {
    padding-right: 30px
}

.right_inner_addon i {
    position: absolute;
    right: 0;
    padding: 10px 12px;
    pointer-events: auto
}

.fa-info-circle {
    color: #be4b49
}

.popover {
    padding: 1px;
    background-color: #be4b49;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    border: 0
}

.popover-content {
    color: #fff;
    font-size: 13px
}

.popover.bottom .arrow:after {
    border-bottom-color: #be4b49;
    border-radius: 5px;
    color: #be4b49
}

#bank_name_drop_label {
    display: inline
}

#bank_name_drop {
    font-weight: 400
}

.digital_signature_container {
    display: inline-block
}

.external-registration-container a {
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 0;
    color: #000;
    border: 1px solid #ccc;
    text-decoration: none;
    font-weight: 700
}

.external-registration-container .or {
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px
}

.external-registration-container a.fb_register {
    background: url(/gateway/social/facebook/images/fb.png) no-repeat 20px center
}

.external-registration-container a.google_register {
    background: url(/gateway/social/google/images/google.png) no-repeat 20px center
}